/1522053404_NIMT185ijarse.pdf
/acf_1.png
/arima.ipynb
/brent_crude.png
/decom_plot.png
/diff_acf_plot_1.png
/diff_pacf_plot_1.png
/diff_plot.png
/forcasting_crude_oil_prices_reliance.pdf
/forecast_111_plot.png
/forecast_v_actual.png
/forecast_v_actual_full.png
/github
/macro Ruben.pdf
/Macro.docx
/monthly_crude_oil.xls
/prophet - training.ipynb
/prophet.ipynb
/Proph_forecast_v_actual_full.png
/Proph_holds1_forecast_v_actual_full.png
/Proph_holds_1_forecast_v_actual_full.png
/Proph_holds_forecast_v_actual_full.png
/s42162-021-00166-4.pdf
/test_set_plot.png
/train_set_plot.png
/weekly_crude.xls
/weekly_crude_1.xls
/~$Macro.docx